* {
    margin: 0;
    padding: 0;
    font-family: Arial ,sans-serif;
    box-sizing: border-box;
}


nav {
    display: grid;
    grid-template-columns: 1fr 110px 110px 110px 110px 110px 110px 440px;
    border: 1px solid black;
    background-color: #0a0b1a;
    color: white;
    height: 100px;
}

nav div {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav .logo-div {
    display: flex;
    align-items: left;
}

nav .logo-div .logo {
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}

nav div button {
    height: 60px;
    width: 100px;
    font-size: 22px;
    border: none;
    background-color: transparent;
    color: white;
}

nav .get-btn button {
    width: 200px;
    position: fixed;
    top: 20;
    right: 0;
    background-color: white;
    color: black;
    margin-right: 20px;
    border: none;
    border-radius: 8px;
}

nav .logo-div .orange {
    height: 15px;
    width: 15px;
    background-color: rgb(234, 74, 6);
    border: none;
    border-radius: 50%;
    margin-left: 30px;
}

section {
    display: flex;
    height: 700px;
    border: none;
}


.container1 {
    display: grid;
    grid-template-columns:550px 1fr;
    height: 700px;
    background-color: #0a0b1a;
}

.container1 .div1 .video1 {
    display: block;
    position: absolute;
    top: 320px;
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    border: 1px solid black;
    border-radius : 10px;
}

.container1 .div1 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    background-color: #0a0b1a;
    padding-top: 100px;
}

.container1 .div2 {
    display: flex;
    height: 400px;
    justify-content: left;
}

.container1 .div2 p {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight : 600;
    margin-left: 50px;
    margin-top: 100px;
}



.container1 .div1 button{
    padding: 20px 40px;
    background-color: rgb(223, 156, 11);
    color: white;
    margin-right: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}



.container2 {
    background-color: #0a0b1a;
}

.container2 .div1 {
    flex-direction: column;
}

.container2 .div1 .para {
    font-size: 24px;
    color:#f3f3f3;
    font-weight: 600;
    margin-left: 300px;
}

.container-section {
    background-color: #0a0b1a;
    color: white;
    padding: 60px 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    max-width: 800px;
    width: 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161b33; 
    border: 1px solid #2d3250;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .box:hover {
    transform: translateY(-5px);
    border-color: #4f5b93;

  }
